header {
    background-color: black;
    color: whitesmoke;
    width: 500px;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    padding: 5px;
    margin: 0 auto
}

main {
    max-width: 500px;
    text-align: center;
    margin: 1rem auto
}

main h1 {
    color: black;

}

main img {
    width: 380px;
    height: auto;
    box-shadow: 0 0 30px #000;
}

main section {
    width: 350px;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: left
}

/* temple card styles */
footer {
    background-color: black;
    color: whitesmoke;
    width: 500px;
    text-align: center;
    font-size: small;
    font-family: sans-serif;
    padding: 1px;
    margin: 0 auto
}